--
-- PostgreSQL database dump
--

\restrict 2ygGBkc0pRxB3eNIaxo3XN6gnfv5JUKP3VjdNgcq3KxfSeqa48OQrVL8UyXjyTd

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_support_servers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_support_servers (
    id integer NOT NULL,
    terminal_id integer,
    name character varying(100) NOT NULL,
    active_users integer DEFAULT 0,
    max_users integer DEFAULT 30,
    status character varying(20) DEFAULT 'unknown'::character varying,
    last_checked_at timestamp without time zone,
    last_error text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.app_support_servers OWNER TO postgres;

--
-- Name: app_support_servers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_support_servers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_support_servers_id_seq OWNER TO postgres;

--
-- Name: app_support_servers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_support_servers_id_seq OWNED BY public.app_support_servers.id;


--
-- Name: app_support_terminal_deploy_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_support_terminal_deploy_history (
    id integer NOT NULL,
    pc_name character varying(100) NOT NULL,
    previous_terminals text[] DEFAULT ARRAY[]::text[],
    deployed_terminals text[] DEFAULT ARRAY[]::text[],
    deployed_by character varying(100),
    deploy_output text,
    rollback_output text,
    deployed_at timestamp without time zone DEFAULT now(),
    rolled_back_at timestamp without time zone
);


ALTER TABLE public.app_support_terminal_deploy_history OWNER TO postgres;

--
-- Name: app_support_terminal_deploy_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_support_terminal_deploy_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_support_terminal_deploy_history_id_seq OWNER TO postgres;

--
-- Name: app_support_terminal_deploy_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_support_terminal_deploy_history_id_seq OWNED BY public.app_support_terminal_deploy_history.id;


--
-- Name: app_support_terminal_failed_devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_support_terminal_failed_devices (
    id integer NOT NULL,
    pc_name character varying(100) NOT NULL,
    action character varying(30) NOT NULL,
    terminals text[] DEFAULT ARRAY[]::text[],
    error text,
    failed_by character varying(100),
    failed_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.app_support_terminal_failed_devices OWNER TO postgres;

--
-- Name: app_support_terminal_failed_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_support_terminal_failed_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_support_terminal_failed_devices_id_seq OWNER TO postgres;

--
-- Name: app_support_terminal_failed_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_support_terminal_failed_devices_id_seq OWNED BY public.app_support_terminal_failed_devices.id;


--
-- Name: app_support_terminal_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_support_terminal_history (
    id integer NOT NULL,
    terminal_code character varying(30) NOT NULL,
    server_name character varying(100) NOT NULL,
    active_users integer DEFAULT 0 NOT NULL,
    status character varying(20) DEFAULT 'unknown'::character varying,
    recorded_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.app_support_terminal_history OWNER TO postgres;

--
-- Name: app_support_terminal_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_support_terminal_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_support_terminal_history_id_seq OWNER TO postgres;

--
-- Name: app_support_terminal_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_support_terminal_history_id_seq OWNED BY public.app_support_terminal_history.id;


--
-- Name: app_support_terminals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_support_terminals (
    id integer NOT NULL,
    code character varying(30) NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.app_support_terminals OWNER TO postgres;

--
-- Name: app_support_terminals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_support_terminals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_support_terminals_id_seq OWNER TO postgres;

--
-- Name: app_support_terminals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_support_terminals_id_seq OWNED BY public.app_support_terminals.id;


--
-- Name: backup_printers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backup_printers (
    id integer NOT NULL,
    pmno character varying(20) NOT NULL,
    serial character varying(50) NOT NULL,
    make character varying(50) NOT NULL,
    dpi character varying(10) NOT NULL,
    plant_location character varying(50) DEFAULT 'B26'::character varying,
    storage_location text NOT NULL,
    remarks text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.backup_printers OWNER TO postgres;

--
-- Name: backup_printers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.backup_printers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.backup_printers_id_seq OWNER TO postgres;

--
-- Name: backup_printers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.backup_printers_id_seq OWNED BY public.backup_printers.id;


--
-- Name: cartridge_usage_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cartridge_usage_log (
    id integer NOT NULL,
    dn character varying(50),
    model character varying(100),
    qty integer DEFAULT 1,
    wc character varying(30),
    ip character varying(20),
    used_by character varying(100),
    used_at timestamp without time zone DEFAULT now(),
    printer_location character varying(255),
    printer_tag character varying(50)
);


ALTER TABLE public.cartridge_usage_log OWNER TO postgres;

--
-- Name: cartridge_usage_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cartridge_usage_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cartridge_usage_log_id_seq OWNER TO postgres;

--
-- Name: cartridge_usage_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cartridge_usage_log_id_seq OWNED BY public.cartridge_usage_log.id;


--
-- Name: cartridges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cartridges (
    id integer NOT NULL,
    model character varying(100) NOT NULL,
    dn character varying(50) NOT NULL,
    type character varying(20),
    compat text,
    stock integer DEFAULT 0,
    min integer DEFAULT 2,
    yield character varying(50),
    loc character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.cartridges OWNER TO postgres;

--
-- Name: cartridges_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cartridges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cartridges_id_seq OWNER TO postgres;

--
-- Name: cartridges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cartridges_id_seq OWNED BY public.cartridges.id;


--
-- Name: health_checkup_activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.health_checkup_activity_log (
    id integer NOT NULL,
    pmno character varying(20) NOT NULL,
    engineer character varying(100),
    checked_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.health_checkup_activity_log OWNER TO postgres;

--
-- Name: health_checkup_activity_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.health_checkup_activity_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.health_checkup_activity_log_id_seq OWNER TO postgres;

--
-- Name: health_checkup_activity_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.health_checkup_activity_log_id_seq OWNED BY public.health_checkup_activity_log.id;


--
-- Name: health_checkups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.health_checkups (
    id integer NOT NULL,
    pmno character varying(20),
    serial character varying(50),
    model character varying(50),
    make character varying(50),
    sapno character varying(50),
    mesno character varying(50),
    dpi character varying(10),
    firmware character varying(50),
    km character varying(50),
    loftware character varying(50),
    ip character varying(20),
    mac character varying(50),
    loc text,
    stage character varying(30),
    bay character varying(30),
    wc character varying(30),
    health character varying(10) DEFAULT 'ok'::character varying,
    issue_desc text,
    req_parts text,
    is_repeat boolean DEFAULT false,
    engineer character varying(100),
    checked_at timestamp without time zone DEFAULT now(),
    damaged_parts jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.health_checkups OWNER TO postgres;

--
-- Name: health_checkups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.health_checkups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.health_checkups_id_seq OWNER TO postgres;

--
-- Name: health_checkups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.health_checkups_id_seq OWNED BY public.health_checkups.id;


--
-- Name: hp_printers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hp_printers (
    id integer NOT NULL,
    tag character varying(50) NOT NULL,
    model character varying(100) NOT NULL,
    ip character varying(20) NOT NULL,
    loc text,
    stage character varying(30),
    bay character varying(30),
    wc character varying(30),
    cartmodel character varying(100),
    black_pct integer DEFAULT 85,
    color_pct integer,
    online boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    plant_location character varying(50) DEFAULT 'B26'::character varying,
    error_status character varying(255),
    last_cartridge_sync timestamp without time zone
);


ALTER TABLE public.hp_printers OWNER TO postgres;

--
-- Name: hp_printers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hp_printers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hp_printers_id_seq OWNER TO postgres;

--
-- Name: hp_printers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hp_printers_id_seq OWNED BY public.hp_printers.id;


--
-- Name: i_learn_issues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.i_learn_issues (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    category character varying(50) DEFAULT 'General'::character varying,
    keywords text,
    created_by character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.i_learn_issues OWNER TO postgres;

--
-- Name: i_learn_issues_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.i_learn_issues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.i_learn_issues_id_seq OWNER TO postgres;

--
-- Name: i_learn_issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.i_learn_issues_id_seq OWNED BY public.i_learn_issues.id;


--
-- Name: i_learn_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.i_learn_steps (
    id integer NOT NULL,
    issue_id integer NOT NULL,
    step_number integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    image_url text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.i_learn_steps OWNER TO postgres;

--
-- Name: i_learn_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.i_learn_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.i_learn_steps_id_seq OWNER TO postgres;

--
-- Name: i_learn_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.i_learn_steps_id_seq OWNED BY public.i_learn_steps.id;


--
-- Name: issue_activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_activity_log (
    id integer NOT NULL,
    issue_id integer NOT NULL,
    activity_type character varying(50) NOT NULL,
    old_severity character varying(20),
    new_severity character varying(20),
    reason text,
    action_taken text,
    severity_at_time character varying(20),
    assigned_to character varying(100),
    user_name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.issue_activity_log OWNER TO postgres;

--
-- Name: issue_activity_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issue_activity_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_activity_log_id_seq OWNER TO postgres;

--
-- Name: issue_activity_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issue_activity_log_id_seq OWNED BY public.issue_activity_log.id;


--
-- Name: issue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_id_seq OWNER TO postgres;

--
-- Name: issues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issues (
    id integer NOT NULL,
    pmno character varying(20),
    serial character varying(50),
    model character varying(50),
    loc text,
    title character varying(200) NOT NULL,
    "desc" text NOT NULL,
    action text,
    severity character varying(20) DEFAULT 'Medium'::character varying,
    category character varying(50) DEFAULT 'Other'::character varying,
    status character varying(20) DEFAULT 'open'::character varying,
    reporter character varying(100),
    created_at timestamp without time zone DEFAULT now(),
    expires_at timestamp without time zone DEFAULT (now() + '10 days'::interval),
    resolved_at timestamp without time zone,
    plant_location character varying(50) DEFAULT 'B26'::character varying,
    assigned_to character varying(100),
    severity_at_resolve character varying(20),
    action_taken text,
    status_changed_at timestamp without time zone DEFAULT now(),
    resolution_deadline timestamp without time zone,
    breach_status character varying(20) DEFAULT 'on-track'::character varying,
    last_activity_user character varying(100),
    sapno character varying(50),
    mesno character varying(50),
    issue_unique_id character varying(20) NOT NULL
);


ALTER TABLE public.issues OWNER TO postgres;

--
-- Name: issues_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issues_id_seq OWNER TO postgres;

--
-- Name: issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issues_id_seq OWNED BY public.issues.id;


--
-- Name: parts_usage_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parts_usage_log (
    id integer NOT NULL,
    code character varying(50),
    name character varying(100),
    qty integer DEFAULT 1,
    pmno character varying(20),
    serial character varying(50),
    wc character varying(30),
    used_by character varying(100),
    used_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.parts_usage_log OWNER TO postgres;

--
-- Name: parts_usage_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parts_usage_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parts_usage_log_id_seq OWNER TO postgres;

--
-- Name: parts_usage_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parts_usage_log_id_seq OWNED BY public.parts_usage_log.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    otp character varying(6) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    is_used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: pm_pasted_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pm_pasted_log (
    id integer NOT NULL,
    pmno character varying(20),
    serial character varying(50),
    model character varying(50),
    make character varying(50),
    dpi character varying(10),
    ip character varying(20),
    firmware character varying(50),
    sapno character varying(50),
    mesno character varying(50),
    loftware character varying(50),
    pmdate character varying(30),
    pasted_at character varying(50),
    stage character varying(30),
    bay character varying(30),
    wc character varying(30),
    loc text,
    engineer character varying(100),
    shift character varying(30),
    remarks text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.pm_pasted_log OWNER TO postgres;

--
-- Name: pm_pasted_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pm_pasted_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pm_pasted_log_id_seq OWNER TO postgres;

--
-- Name: pm_pasted_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pm_pasted_log_id_seq OWNED BY public.pm_pasted_log.id;


--
-- Name: printer_live_state; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.printer_live_state (
    pmno character varying(20) NOT NULL,
    serial character varying(50),
    ip character varying(20),
    online_status character varying(20) DEFAULT 'offline'::character varying,
    condition_status character varying(20) DEFAULT 'ready'::character varying,
    error_reason text,
    resolved_bay character varying(30),
    resolved_stage character varying(30),
    resolved_wc character varying(30),
    location_display text,
    updated_at timestamp without time zone DEFAULT now(),
    firmware_version character varying(100),
    printer_km character varying(100)
);


ALTER TABLE public.printer_live_state OWNER TO postgres;

--
-- Name: printer_location_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.printer_location_logs (
    id integer NOT NULL,
    pmno character varying(20) NOT NULL,
    serial character varying(50),
    old_wc character varying(30),
    old_stage character varying(30),
    old_bay character varying(30),
    old_loc text,
    old_plant_location character varying(50),
    new_wc character varying(30),
    new_stage character varying(30),
    new_bay character varying(30),
    new_loc text,
    new_plant_location character varying(50),
    source character varying(30) NOT NULL,
    changed_by character varying(100),
    changed_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.printer_location_logs OWNER TO postgres;

--
-- Name: printer_location_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.printer_location_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.printer_location_logs_id_seq OWNER TO postgres;

--
-- Name: printer_location_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.printer_location_logs_id_seq OWNED BY public.printer_location_logs.id;


--
-- Name: printer_status_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.printer_status_logs (
    id integer NOT NULL,
    pmno character varying(20) NOT NULL,
    serial character varying(50),
    event_type character varying(40) NOT NULL,
    reason text,
    old_online_status character varying(20),
    new_online_status character varying(20),
    old_condition_status character varying(20),
    new_condition_status character varying(20),
    old_error_reason text,
    new_error_reason text,
    old_ip character varying(20),
    new_ip character varying(20),
    logged_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.printer_status_logs OWNER TO postgres;

--
-- Name: printer_status_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.printer_status_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.printer_status_logs_id_seq OWNER TO postgres;

--
-- Name: printer_status_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.printer_status_logs_id_seq OWNED BY public.printer_status_logs.id;


--
-- Name: printers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.printers (
    id integer NOT NULL,
    pmno character varying(20) NOT NULL,
    serial character varying(50),
    make character varying(50),
    model character varying(50),
    dpi character varying(10),
    ip character varying(20),
    wc character varying(30),
    loc text,
    stage character varying(30),
    bay character varying(30),
    status character varying(20) DEFAULT 'ready'::character varying,
    pmdate character varying(30),
    sapno character varying(50),
    mesno character varying(50),
    firmware character varying(50),
    loftware character varying(50),
    buyoff character varying(100),
    remarks text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    plant_location character varying(50) DEFAULT 'B26'::character varying,
    maintenance_type character varying(20) DEFAULT 'quarterly'::character varying
);


ALTER TABLE public.printers OWNER TO postgres;

--
-- Name: printers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.printers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.printers_id_seq OWNER TO postgres;

--
-- Name: printers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.printers_id_seq OWNED BY public.printers.id;


--
-- Name: recipes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipes (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    make character varying(50),
    model character varying(50),
    dpi character varying(20),
    media character varying(50),
    width character varying(20),
    length character varying(20),
    top character varying(20),
    left_margin character varying(20),
    darkness character varying(20),
    speed character varying(30),
    loft character varying(100),
    verifier character varying(30),
    calibration character varying(50),
    contrast character varying(20),
    size character varying(50),
    "desc" text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    config_json jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.recipes OWNER TO postgres;

--
-- Name: recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipes_id_seq OWNER TO postgres;

--
-- Name: recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipes_id_seq OWNED BY public.recipes.id;


--
-- Name: registration_otps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.registration_otps (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    otp character varying(6) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    is_used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.registration_otps OWNER TO postgres;

--
-- Name: registration_otps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.registration_otps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.registration_otps_id_seq OWNER TO postgres;

--
-- Name: registration_otps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.registration_otps_id_seq OWNED BY public.registration_otps.id;


--
-- Name: spare_parts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.spare_parts (
    id integer NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    compat character varying(50),
    avail integer DEFAULT 0,
    min integer DEFAULT 2,
    loc character varying(100),
    serial character varying(50),
    condition character varying(20) DEFAULT 'New'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    plant_location character varying(50) DEFAULT 'B26'::character varying,
    printer_model character varying(100),
    category character varying(100)
);


ALTER TABLE public.spare_parts OWNER TO postgres;

--
-- Name: spare_parts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.spare_parts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.spare_parts_id_seq OWNER TO postgres;

--
-- Name: spare_parts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.spare_parts_id_seq OWNED BY public.spare_parts.id;


--
-- Name: user_approvals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_approvals (
    id integer NOT NULL,
    user_id integer NOT NULL,
    requested_at timestamp without time zone DEFAULT now(),
    approved_by character varying(100),
    approved_at timestamp without time zone,
    status character varying(20) DEFAULT 'pending'::character varying
);


ALTER TABLE public.user_approvals OWNER TO postgres;

--
-- Name: user_approvals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_approvals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_approvals_id_seq OWNER TO postgres;

--
-- Name: user_approvals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_approvals_id_seq OWNED BY public.user_approvals.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100),
    role character varying(20) DEFAULT 'user'::character varying,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    support_type character varying(30) DEFAULT 'technical'::character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vlan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vlan (
    id integer NOT NULL,
    port character varying(30) NOT NULL,
    ip character varying(20) NOT NULL,
    mac character varying(30),
    sw character varying(50),
    loc text,
    stage character varying(30),
    bay character varying(30),
    wc character varying(30),
    created_at timestamp without time zone DEFAULT now(),
    plant_location character varying(50) DEFAULT 'B26'::character varying
);


ALTER TABLE public.vlan OWNER TO postgres;

--
-- Name: vlan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vlan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vlan_id_seq OWNER TO postgres;

--
-- Name: vlan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vlan_id_seq OWNED BY public.vlan.id;


--
-- Name: app_support_servers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_servers ALTER COLUMN id SET DEFAULT nextval('public.app_support_servers_id_seq'::regclass);


--
-- Name: app_support_terminal_deploy_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminal_deploy_history ALTER COLUMN id SET DEFAULT nextval('public.app_support_terminal_deploy_history_id_seq'::regclass);


--
-- Name: app_support_terminal_failed_devices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminal_failed_devices ALTER COLUMN id SET DEFAULT nextval('public.app_support_terminal_failed_devices_id_seq'::regclass);


--
-- Name: app_support_terminal_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminal_history ALTER COLUMN id SET DEFAULT nextval('public.app_support_terminal_history_id_seq'::regclass);


--
-- Name: app_support_terminals id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminals ALTER COLUMN id SET DEFAULT nextval('public.app_support_terminals_id_seq'::regclass);


--
-- Name: backup_printers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_printers ALTER COLUMN id SET DEFAULT nextval('public.backup_printers_id_seq'::regclass);


--
-- Name: cartridge_usage_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cartridge_usage_log ALTER COLUMN id SET DEFAULT nextval('public.cartridge_usage_log_id_seq'::regclass);


--
-- Name: cartridges id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cartridges ALTER COLUMN id SET DEFAULT nextval('public.cartridges_id_seq'::regclass);


--
-- Name: health_checkup_activity_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.health_checkup_activity_log ALTER COLUMN id SET DEFAULT nextval('public.health_checkup_activity_log_id_seq'::regclass);


--
-- Name: health_checkups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.health_checkups ALTER COLUMN id SET DEFAULT nextval('public.health_checkups_id_seq'::regclass);


--
-- Name: hp_printers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hp_printers ALTER COLUMN id SET DEFAULT nextval('public.hp_printers_id_seq'::regclass);


--
-- Name: i_learn_issues id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.i_learn_issues ALTER COLUMN id SET DEFAULT nextval('public.i_learn_issues_id_seq'::regclass);


--
-- Name: i_learn_steps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.i_learn_steps ALTER COLUMN id SET DEFAULT nextval('public.i_learn_steps_id_seq'::regclass);


--
-- Name: issue_activity_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_activity_log ALTER COLUMN id SET DEFAULT nextval('public.issue_activity_log_id_seq'::regclass);


--
-- Name: issues id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues ALTER COLUMN id SET DEFAULT nextval('public.issues_id_seq'::regclass);


--
-- Name: parts_usage_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parts_usage_log ALTER COLUMN id SET DEFAULT nextval('public.parts_usage_log_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: pm_pasted_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pm_pasted_log ALTER COLUMN id SET DEFAULT nextval('public.pm_pasted_log_id_seq'::regclass);


--
-- Name: printer_location_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printer_location_logs ALTER COLUMN id SET DEFAULT nextval('public.printer_location_logs_id_seq'::regclass);


--
-- Name: printer_status_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printer_status_logs ALTER COLUMN id SET DEFAULT nextval('public.printer_status_logs_id_seq'::regclass);


--
-- Name: printers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printers ALTER COLUMN id SET DEFAULT nextval('public.printers_id_seq'::regclass);


--
-- Name: recipes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipes ALTER COLUMN id SET DEFAULT nextval('public.recipes_id_seq'::regclass);


--
-- Name: registration_otps id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registration_otps ALTER COLUMN id SET DEFAULT nextval('public.registration_otps_id_seq'::regclass);


--
-- Name: spare_parts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spare_parts ALTER COLUMN id SET DEFAULT nextval('public.spare_parts_id_seq'::regclass);


--
-- Name: user_approvals id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_approvals ALTER COLUMN id SET DEFAULT nextval('public.user_approvals_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vlan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vlan ALTER COLUMN id SET DEFAULT nextval('public.vlan_id_seq'::regclass);


--
-- Data for Name: app_support_servers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: app_support_terminal_deploy_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_support_terminal_deploy_history (id, pc_name, previous_terminals, deployed_terminals, deployed_by, deploy_output, rollback_output, deployed_at, rolled_back_at) FROM stdin;
\.


--
-- Data for Name: app_support_terminal_failed_devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_support_terminal_failed_devices (id, pc_name, action, terminals, error, failed_by, failed_at) FROM stdin;
\.


--
-- Data for Name: app_support_terminal_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: app_support_terminals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_support_terminals (id, code, name, description, is_active, created_at, updated_at) FROM stdin;
1	P01	P01	P01 terminal group	t	2026-05-03 22:43:44.557901	2026-05-03 22:43:44.557901
2	VAO01	VAO01	VAO01 terminal group	t	2026-05-03 22:43:44.627951	2026-05-03 22:43:44.627951
3	M01	M01	M01 terminal group	t	2026-05-03 22:43:44.662492	2026-05-03 22:43:44.662492
4	D01	D01	D01 terminal group	t	2026-05-03 22:43:44.672834	2026-05-03 22:43:44.672834
5	E01	E01	E01 terminal group	t	2026-05-03 22:43:44.679561	2026-05-03 22:43:44.679561
\.


--
-- Data for Name: backup_printers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cartridge_usage_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cartridges; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: health_checkup_activity_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.health_checkup_activity_log (id, pmno, engineer, checked_at) FROM stdin;
5	1212	Aniket	2026-04-15 15:09:39.713
6	1212	Aniket	2026-04-15 15:18:39.327
\.


--
-- Data for Name: health_checkups; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hp_printers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: i_learn_issues; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.i_learn_issues (id, title, description, category, keywords, created_by, created_at, updated_at) FROM stdin;
1	Print not coming		General	\N	Aniketbhosale1012@gmail Com	2026-04-22 11:12:28.418737	2026-04-22 11:12:28.418737
\.


--
-- Data for Name: i_learn_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.i_learn_steps (id, issue_id, step_number, title, description, image_url, created_at, updated_at) FROM stdin;
1	1	1	Check IP adress	First, cross-check that the IP shown on the printer is also shown in Loftware for particular port. If IP is change, then change IP in Loftware for particular port.	\N	2026-04-22 11:12:28.418737	2026-04-22 11:12:28.418737
\.


--
-- Data for Name: issue_activity_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: issues; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: parts_usage_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.parts_usage_log (id, code, name, qty, pmno, serial, wc, used_by, used_at) FROM stdin;
3	SP-HEAD-203	203 DPI Printhead	1	11079	71J223100314	VERTIV	Dummy Engineer	2026-05-04 07:25:09.794214
4	SP-ROLLER-01	Platen Roller	1	11080	71J222100509	VERTIV	Dummy Engineer	2026-05-04 07:25:09.80139
5	SP-SENSOR-01	Media Sensor	1	7040	71J192800075	ERICSSON	Dummy Engineer	2026-05-04 07:25:09.802839
6	SP-BELT-01	Drive Belt Kit	1	7041	71J192900011	ERICSSON	Dummy Engineer	2026-05-04 07:25:09.804176
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, user_id, otp, expires_at, is_used, created_at) FROM stdin;
1	5	308644	2026-04-17 16:22:15.568	f	2026-04-17 16:12:15.573961
2	5	545043	2026-04-30 17:12:32.362	t	2026-04-30 17:02:32.365617
\.


--
-- Data for Name: pm_pasted_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: printer_live_state; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: printer_location_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: printer_status_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: printers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recipes (id, name, make, model, dpi, media, width, length, top, left_margin, darkness, speed, loft, verifier, calibration, contrast, size, "desc", created_at, updated_at, config_json) FROM stdin;
3	Abc	\N	PX940	300-600	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	2026-04-16 11:53:01.741812	2026-04-16 11:53:01.741812	{}
\.


--
-- Data for Name: registration_otps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: spare_parts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spare_parts (id, code, name, compat, avail, min, loc, serial, condition, created_at, updated_at, plant_location, printer_model, category) FROM stdin;
7	honeywell printer	Printer head 600 dpi	Honeywell	1	2	Hubroom 4 rack 1	\N	New	2026-05-03 04:46:57.725492	2026-05-03 04:46:57.725492	B26	PX940	\N
8	Zebra Moter belt	Moter belt	Zebra	1	2	Hubroom 4 rack 1	\N	Used	2026-05-03 04:48:20.882068	2026-05-03 04:48:20.882068	B26	ZT610	\N
9	PWR-001	SMPS	Honeywell	3	2	Dummy Rack 1	DUMMY-SERIAL-1	New	2026-05-03 05:17:24.929798	2026-05-03 05:35:05.89954	B26	px940	Power
\.


--
-- Data for Name: user_approvals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_approvals (id, user_id, requested_at, approved_by, approved_at, status) FROM stdin;
3	5	2026-04-16 16:54:21.96251	aniketbhosale1012@gmail.com	2026-04-16 16:56:02.788483	approved
5	7	2026-05-04 07:14:37.441513	aniketbhosale1012@gmail.com	2026-05-04 07:19:00.536026	approved
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vlan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vlan (id, port, ip, mac, sw, loc, stage, bay, wc, created_at, plant_location) FROM stdin;
3	Port01	172.19.114.25	jhkjjbvv j	Jobibjh	Phase1	Linking	Bay12	Nvidia	2026-04-15 21:30:32.072897	B26
\.


--
-- Name: app_support_servers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_support_servers_id_seq', 38350, true);


--
-- Name: app_support_terminal_deploy_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_support_terminal_deploy_history_id_seq', 1, false);


--
-- Name: app_support_terminal_failed_devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_support_terminal_failed_devices_id_seq', 1, false);


--
-- Name: app_support_terminal_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_support_terminal_history_id_seq', 1634, true);


--
-- Name: app_support_terminals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_support_terminals_id_seq', 3250, true);


--
-- Name: backup_printers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.backup_printers_id_seq', 6, true);


--
-- Name: cartridge_usage_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cartridge_usage_log_id_seq', 7, true);


--
-- Name: cartridges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cartridges_id_seq', 11, true);


--
-- Name: health_checkup_activity_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.health_checkup_activity_log_id_seq', 10, true);


--
-- Name: health_checkups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.health_checkups_id_seq', 11, true);


--
-- Name: hp_printers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hp_printers_id_seq', 12, true);


--
-- Name: i_learn_issues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.i_learn_issues_id_seq', 1, true);


--
-- Name: i_learn_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.i_learn_steps_id_seq', 1, true);


--
-- Name: issue_activity_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.issue_activity_log_id_seq', 21, true);


--
-- Name: issue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.issue_id_seq', 1, false);


--
-- Name: issues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.issues_id_seq', 9, true);


--
-- Name: parts_usage_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parts_usage_log_id_seq', 6, true);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 2, true);


--
-- Name: pm_pasted_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pm_pasted_log_id_seq', 8, true);


--
-- Name: printer_location_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.printer_location_logs_id_seq', 4, true);


--
-- Name: printer_status_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.printer_status_logs_id_seq', 88, true);


--
-- Name: printers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.printers_id_seq', 29, true);


--
-- Name: recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipes_id_seq', 3, true);


--
-- Name: registration_otps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.registration_otps_id_seq', 11, true);


--
-- Name: spare_parts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.spare_parts_id_seq', 12, true);


--
-- Name: user_approvals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_approvals_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: vlan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vlan_id_seq', 3, true);


--
-- Name: app_support_servers app_support_servers_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_servers
    ADD CONSTRAINT app_support_servers_name_key UNIQUE (name);


--
-- Name: app_support_servers app_support_servers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_servers
    ADD CONSTRAINT app_support_servers_pkey PRIMARY KEY (id);


--
-- Name: app_support_terminal_deploy_history app_support_terminal_deploy_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminal_deploy_history
    ADD CONSTRAINT app_support_terminal_deploy_history_pkey PRIMARY KEY (id);


--
-- Name: app_support_terminal_failed_devices app_support_terminal_failed_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminal_failed_devices
    ADD CONSTRAINT app_support_terminal_failed_devices_pkey PRIMARY KEY (id);


--
-- Name: app_support_terminal_history app_support_terminal_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminal_history
    ADD CONSTRAINT app_support_terminal_history_pkey PRIMARY KEY (id);


--
-- Name: app_support_terminals app_support_terminals_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminals
    ADD CONSTRAINT app_support_terminals_code_key UNIQUE (code);


--
-- Name: app_support_terminals app_support_terminals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_terminals
    ADD CONSTRAINT app_support_terminals_pkey PRIMARY KEY (id);


--
-- Name: backup_printers backup_printers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_printers
    ADD CONSTRAINT backup_printers_pkey PRIMARY KEY (id);


--
-- Name: backup_printers backup_printers_pmno_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_printers
    ADD CONSTRAINT backup_printers_pmno_key UNIQUE (pmno);


--
-- Name: cartridge_usage_log cartridge_usage_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cartridge_usage_log
    ADD CONSTRAINT cartridge_usage_log_pkey PRIMARY KEY (id);


--
-- Name: cartridges cartridges_dn_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cartridges
    ADD CONSTRAINT cartridges_dn_unique UNIQUE (dn);


--
-- Name: cartridges cartridges_model_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cartridges
    ADD CONSTRAINT cartridges_model_key UNIQUE (model);


--
-- Name: cartridges cartridges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cartridges
    ADD CONSTRAINT cartridges_pkey PRIMARY KEY (id);


--
-- Name: health_checkup_activity_log health_checkup_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.health_checkup_activity_log
    ADD CONSTRAINT health_checkup_activity_log_pkey PRIMARY KEY (id);


--
-- Name: health_checkups health_checkups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.health_checkups
    ADD CONSTRAINT health_checkups_pkey PRIMARY KEY (id);


--
-- Name: hp_printers hp_printers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hp_printers
    ADD CONSTRAINT hp_printers_pkey PRIMARY KEY (id);


--
-- Name: hp_printers hp_printers_tag_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hp_printers
    ADD CONSTRAINT hp_printers_tag_key UNIQUE (tag);


--
-- Name: i_learn_issues i_learn_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.i_learn_issues
    ADD CONSTRAINT i_learn_issues_pkey PRIMARY KEY (id);


--
-- Name: i_learn_steps i_learn_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.i_learn_steps
    ADD CONSTRAINT i_learn_steps_pkey PRIMARY KEY (id);


--
-- Name: issue_activity_log issue_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_activity_log
    ADD CONSTRAINT issue_activity_log_pkey PRIMARY KEY (id);


--
-- Name: issues issues_issue_unique_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_issue_unique_id_key UNIQUE (issue_unique_id);


--
-- Name: issues issues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_pkey PRIMARY KEY (id);


--
-- Name: parts_usage_log parts_usage_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parts_usage_log
    ADD CONSTRAINT parts_usage_log_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: pm_pasted_log pm_pasted_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pm_pasted_log
    ADD CONSTRAINT pm_pasted_log_pkey PRIMARY KEY (id);


--
-- Name: printer_live_state printer_live_state_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printer_live_state
    ADD CONSTRAINT printer_live_state_pkey PRIMARY KEY (pmno);


--
-- Name: printer_location_logs printer_location_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printer_location_logs
    ADD CONSTRAINT printer_location_logs_pkey PRIMARY KEY (id);


--
-- Name: printer_status_logs printer_status_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printer_status_logs
    ADD CONSTRAINT printer_status_logs_pkey PRIMARY KEY (id);


--
-- Name: printers printers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_pkey PRIMARY KEY (id);


--
-- Name: printers printers_pmno_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.printers
    ADD CONSTRAINT printers_pmno_key UNIQUE (pmno);


--
-- Name: recipes recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_pkey PRIMARY KEY (id);


--
-- Name: registration_otps registration_otps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registration_otps
    ADD CONSTRAINT registration_otps_pkey PRIMARY KEY (id);


--
-- Name: spare_parts spare_parts_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spare_parts
    ADD CONSTRAINT spare_parts_code_key UNIQUE (code);


--
-- Name: spare_parts spare_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spare_parts
    ADD CONSTRAINT spare_parts_pkey PRIMARY KEY (id);


--
-- Name: user_approvals user_approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_approvals
    ADD CONSTRAINT user_approvals_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vlan vlan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vlan
    ADD CONSTRAINT vlan_pkey PRIMARY KEY (id);


--
-- Name: idx_app_support_terminal_deploy_history_pc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_support_terminal_deploy_history_pc ON public.app_support_terminal_deploy_history USING btree (pc_name, deployed_at DESC);


--
-- Name: idx_app_support_terminal_failed_devices_failed_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_support_terminal_failed_devices_failed_at ON public.app_support_terminal_failed_devices USING btree (failed_at DESC);


--
-- Name: idx_app_support_terminal_history_recorded_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_support_terminal_history_recorded_at ON public.app_support_terminal_history USING btree (recorded_at);


--
-- Name: idx_app_support_terminal_history_terminal_code_recorded_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_app_support_terminal_history_terminal_code_recorded_at ON public.app_support_terminal_history USING btree (terminal_code, recorded_at);


--
-- Name: idx_backup_printers_plant_dpi; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backup_printers_plant_dpi ON public.backup_printers USING btree (plant_location, dpi);


--
-- Name: idx_cartridge_usage_dn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cartridge_usage_dn ON public.cartridge_usage_log USING btree (dn);


--
-- Name: idx_cartridge_usage_used_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cartridge_usage_used_at ON public.cartridge_usage_log USING btree (used_at DESC);


--
-- Name: idx_health_checkup_activity_checked_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_health_checkup_activity_checked_at ON public.health_checkup_activity_log USING btree (checked_at DESC);


--
-- Name: idx_i_learn_issues_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_i_learn_issues_category ON public.i_learn_issues USING btree (category);


--
-- Name: idx_i_learn_issues_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_i_learn_issues_created_at ON public.i_learn_issues USING btree (created_at DESC);


--
-- Name: idx_i_learn_steps_issue_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_i_learn_steps_issue_id ON public.i_learn_steps USING btree (issue_id);


--
-- Name: idx_i_learn_steps_step_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_i_learn_steps_step_number ON public.i_learn_steps USING btree (step_number);


--
-- Name: idx_issue_activity_issue_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issue_activity_issue_id ON public.issue_activity_log USING btree (issue_id);


--
-- Name: idx_issue_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issue_status ON public.issues USING btree (status);


--
-- Name: idx_issue_unique_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issue_unique_id ON public.issues USING btree (issue_unique_id);


--
-- Name: idx_issues_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issues_category ON public.i_learn_issues USING btree (category);


--
-- Name: idx_issues_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_issues_created_at ON public.i_learn_issues USING btree (created_at DESC);


--
-- Name: idx_printer_location_logs_pmno_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_printer_location_logs_pmno_time ON public.printer_location_logs USING btree (pmno, changed_at DESC);


--
-- Name: idx_printer_status_logs_logged_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_printer_status_logs_logged_at ON public.printer_status_logs USING btree (logged_at DESC);


--
-- Name: idx_printer_status_logs_pmno_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_printer_status_logs_pmno_time ON public.printer_status_logs USING btree (pmno, logged_at DESC);


--
-- Name: idx_registration_otps_email_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_registration_otps_email_created ON public.registration_otps USING btree (email, created_at DESC);


--
-- Name: idx_steps_issue_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_steps_issue_id ON public.i_learn_steps USING btree (issue_id);


--
-- Name: idx_steps_step_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_steps_step_number ON public.i_learn_steps USING btree (step_number);


--
-- Name: app_support_servers app_support_servers_terminal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_support_servers
    ADD CONSTRAINT app_support_servers_terminal_id_fkey FOREIGN KEY (terminal_id) REFERENCES public.app_support_terminals(id) ON DELETE CASCADE;


--
-- Name: i_learn_steps i_learn_steps_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.i_learn_steps
    ADD CONSTRAINT i_learn_steps_issue_id_fkey FOREIGN KEY (issue_id) REFERENCES public.i_learn_issues(id) ON DELETE CASCADE;


--
-- Name: issue_activity_log issue_activity_log_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_activity_log
    ADD CONSTRAINT issue_activity_log_issue_id_fkey FOREIGN KEY (issue_id) REFERENCES public.issues(id) ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_approvals user_approvals_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_approvals
    ADD CONSTRAINT user_approvals_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 2ygGBkc0pRxB3eNIaxo3XN6gnfv5JUKP3VjdNgcq3KxfSeqa48OQrVL8UyXjyTd

