DATABASE_URL=
DB_SSL=false
PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=printer_ms
DB_USER=postgres
DB_PASSWORD=yourpassword
ENABLE_CLEANUP_DB_LOGS=false
EMAIL_USER=your.gmail.address@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
# Or use APP_PASSWORD if EMAIL_PASSWORD is not set
APP_PASSWORD=your_gmail_app_password
